<h1>New article</h1>

<%= render "form", article: @article %>

<div>
  <p>Understand more about the actual implementation by visiting the following pages:</p>
  <ul>
    <li>
      <a href="https://api.rubyonrails.org/v7.0.2.3/classes/ActionView/Helpers/FormHelper.html#method-i-form_with">
        FormHelper class documentation
      </a>
    </li>
    <li>
      <a href="https://api.rubyonrails.org/v7.0.2.3/classes/ActionView/Helpers/FormHelper.html#method-i-form_with">
        FormHelper class documentation
      </a>
    </li>
    <li>
      <a href="https://guides.rubyonrails.org/form_helpers.html">FormHelper: Explains the logic needed to generate a form by writing ruby code inside of erb templates</a>
    </li>
  </ul>
</div>